---
import { getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import profile from "../assets/profile.png";

const optimizedProfile = await getImage({ src: profile, format: "webp" });
---

<Layout title="Josh's corner" description="Josh's personal site">
  <main class="my-12 sm:my-24 space-y-12">
    <header
      class="flex flex-col max-w-2xl mx-auto p-4 text-medium font-medium font-mono"
    >
      <img
        src={optimizedProfile.src}
        alt="Joshua Constantine Santos"
        class="rounded-full w-32 h-32 fixed -bottom-2 -right-4 object-cover xs:relative xs:bottom-0 xs:right-0 xs:mb-[-1.1rem] xs:ml-[10.4rem] z-[1] transition-all duration-300 ease-in-out"
      />
      <a href="/" class="font-bold">Joshua Constantine Santos</a>
      <p
        class="leading-none text-zinc-500 dark:text-zinc-400 text-lg tracking-[0.08rem]"
      >
        Full-stack developer
      </p>
    </header>

    <section class="mx-auto max-w-2xl p-4 space-y-2 font-mono">
      <header>
        <h2 class="font-medium text-lg">who am i,</h2>
      </header>
      <p class="text-zinc-500 dark:text-zinc-400 text-pretty">
        I am a full-stack developer with a passion for building, learning and
        collaborating with others. Started my journey in coding when I was 10
        years old, writing in Lua and making games in Roblox.
      </p>
    </section>

    <section class="mx-auto max-w-2xl p-4 space-y-2 font-mono">
      <header>
        <h2 class="font-medium text-lg">some experiences,</h2>
      </header>
      <ul class="space-y-6 ml-8 pt-4">
        <li>
          <p class="font-medium">
            <span>
              Fullstack engineer, <span class="font-normal text-zinc-500 dark:text-zinc-400"
                >Kipsi Software</span
              >
            </span>
          </p>
        </li>
        <li>
          <p
            class="font-medium flex justify-between sm:flex-row flex-col"
          >
            <span>
              Fullstack engineer, <span class="font-normal text-zinc-500 dark:text-zinc-400"
                >SoftLedger</span
              >
            </span>
            <span class="text-sm font-normal ml-8 sm:ml-0"> 1st engineering hire </span>
          </p>
        </li>
        <li>
          <p
            class="font-medium flex justify-between sm:flex-row flex-col"
          >
            <span>
              Fullstack engineer, <span class="font-normal text-zinc-500 dark:text-zinc-400"
                >MNNML Health</span
              >
            </span>
            <span class="text-sm font-normal ml-8 sm:ml-0"> 1st engineering hire </span>
          </p>
        </li>
      </ul>
    </section>
  </main>
</Layout>

<style></style>
