---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Josh's corner"
  description="Josh's personal site"
  darkSvg={false}
>
  <main class="min-w-[100dvw] min-h-[100dvh] my-12 sm:my-32">
    <header class="flex max-w-2xl mx-auto p-4 items-start flex-col text-medium font-medium">
      <a href="/">Joshua Constantine Santos</a>
			<p class="leading-none text-zinc-500 dark:text-zinc-400">Full-stack developer</p>
    </header>
  </main>
</Layout>

<style></style>
