---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<section class="mx-auto max-w-2xl p-4 space-y-2 font-mono">
  <header>
    <h2 class="font-medium text-lg">{title}</h2>
  </header>
  <slot />
</section>
